<div>
  <button mat-flat-button (click)="logOut()" color="primary" style="float: right; background: transparent; color: black; padding: 10px 0 0 0; margin: 0; line-height: 20px;">Log out</button>
  <div class="profile-content">
    <div class="profile-card main">
      <div style="height: min-content;">
        <mat-card-title class="username">{{ user.surname }}</mat-card-title>
        <mat-card-subtitle class="phoneNo">{{ user.phoneNumber }}</mat-card-subtitle>
      </div>
    </div>
    <div class="profile-card green">
      <span class="main-digits">{{ user.goalWeight }}</span><span class="measuring-units">kg</span>
      <span class="title">Goal Weight</span>
    </div>
    <div class="profile-card orange">
      <span class="main-digits">{{ user.weight }}</span><span class="measuring-units">kg</span>
      <span class="title">Current Weight</span>
    </div>
    <div class="profile-card blue">
      <span class="main-digits">{{ (user.goalWeight - user.weight) | number:'1.2-2' }}</span><span class="measuring-units">kg</span>
      <span class="title">Until your goal</span>
    </div>
    <div class="profile-card">
      <span class="main-digits">{{ user.heigth }}</span><span class="measuring-units">cm</span>
      <span class="title">Height</span>
    </div>
    <div class="wourkouts-count profile-card blue"><img src="assets/images/dumbell.png" alt="Dumbbell Image" />{{message}}</div>
    <div class="profile-card" [ngClass]="{
         'grey' : bmi < 18.5,
         'blue' : bmi >= 25 && bmi < 30,
  'green': bmi >= 18 && bmi < 25,
  'orange': bmi >= 30 && bmi < 35,
  'red': bmi > 35
}">
      <span class="main-digits">{{ bmi | number:'1.2-2' }}</span>
      <span class="title">Body Mass Index</span>
    </div>

    <div class="profile-card" [ngClass]="{
         'grey' : bmi < 18.5,
         'blue' : bmi >= 25 && bmi < 30,
  'green': bmi >= 18 && bmi < 25,
  'orange': bmi >= 30 && bmi < 35,
  'red': bmi > 35
}">
      <span class="main-text">{{bmiLevel}}</span>
      <span class="title">BMI level</span>
    </div>

  </div>
  <!--<button mat-flat-button (click)="logOut()" color="primary">Log out</button>-->
  <!-- <div class="progress-container">
     <mat-progress-bar mode="determinate" [value]="bmi" [ngClass]="{
                       'underweight' : bmi < 18.5,
     'normal': bmi >= 18.5 && bmi < 25,
     'overweight': bmi >= 25 && bmi < 30,
     'obese': bmi >= 30 }">
     </mat-progress-bar>
     <div class="marker underweight-marker" style="left: calc(18.5% - 2px)"></div>
     <div class="marker normal-marker" style="left: calc(25% - 2px)"></div>
     <div class="marker overweight-marker" style="left: calc(30% - 2px)"></div>
   </div>
   <div class="description">
     <p *ngIf="bmi < 18.5">Your BMI is {{ bmi.toFixed(1) }}, which indicates you are underweight.</p>
     <p *ngIf="bmi >= 18.5 && bmi < 25">Your BMI is {{ bmi.toFixed(1) }}, which falls within the normal weight range.</p>
     <p *ngIf="bmi >= 25 && bmi < 30">Your BMI is {{ bmi.toFixed(1) }}, which indicates you are overweight.</p>
     <p *ngIf="bmi >= 30">Your BMI is {{ bmi.toFixed(1) }}, which indicates you are obese.</p>
   </div>-->



  <div class="statistics-card profile-card">
    <div style="padding: 4px;">
      <h3 style="font-weight: 500; font-size: 20px; line-height: 25px; margin-bottom: 20px">Weight statistics</h3>
    </div>
    <mat-card-content>
      <div echarts [options]="chartOption" class="echart"></div>
    </mat-card-content>

    <div class="half">
      <div>
        <label>Your current weight</label>
        <div class="half inner">
          <input matInput type="number" value="{{ user.weight }}" [(ngModel)]="weight">

          <button class="main-btn" (click)="addWeightHistory()">Update</button>
        </div>
      </div>

      <div>
        <label>Your current goal</label>
        <div class="half inner">
          <input matInput type="number" value="{{ user.goalWeight }}" [(ngModel)]="updatedGoalWeight">
          <button class="main-btn" (click)="updateGoalWeight()">Update</button>
        </div>
      </div>
    </div>
  </div>

  <!--<div class="profile-card" style="margin: 20px 0 50px">
    <h2>Weight History:</h2>
    <ul>
      <li *ngFor="let item of weightHistory">
        Weight: {{ item.newWeight }}, Date: {{ item.updatedDate | date:'short' }}
      </li>
    </ul>
  </div>
</div>-->
