<div>
  <form [formGroup]="formGroup" (ngSubmit)="handleWorkoutNameSubmit()">
    <mat-form-field>
      <mat-label>Workout Name</mat-label>
      <input matInput formControlName="workoutName" />
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">Create Workout</button>
  </form>

  <h2>Your Workouts</h2>
  <table mat-table [dataSource]="currentWorkouts" class="mat-elevation-z8">

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let workout">
        <a [routerLink]="['/workout-details', workout.id]">{{ workout.name }}</a>
      </td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let workout">
        <button mat-button color="warn">Delete</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
