

mat-form-field {
  width: 100%;
  margin-bottom: 16px;
}

.main-form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}

.of-btn {
    display: flex;
    align-items: end;
}
.of-btn button {
    width: 100%;
}

input, select {
  background: #f3f5f7;
  border-radius: 3px;
  font-size: 15px;
  padding: 10px 15px;
  width: 100%;
  display: block;
  border: 0;
}

table input {
  width: calc(100% - 30px);
}

select {
    cursor: pointer;
}

input:focus {
  outline: none;
}

select:focus {
    outline: none
}

label {
  font-size: 15px;
}

.mat-table {
    width: 100%;
}
